[Unit]
Description=xscs
ConditionArchitecture=x86-64
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=xscs
Group=xscs
EnvironmentFile=/etc/isarmg/xscs.env
ExecStart=/opt/isarmg/xscs/current/bin/xscs run --release-root /opt/isarmg/xscs/current
StateDirectory=isarmg/xscs/db
StateDirectoryMode=0700
RuntimeDirectory=isarmg/xscs
RuntimeDirectoryMode=0700
UMask=0077
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectClock=true
ProtectHostname=true
RestrictSUIDSGID=true
RestrictRealtime=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
SystemCallArchitectures=native
LockPersonality=true
MemoryDenyWriteExecute=true
CapabilityBoundingSet=
AmbientCapabilities=
ProtectProc=invisible
ProcSubset=pid
RemoveIPC=true
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
